<ion-view title="Bar" hide-nav-bar="true" id="page8" class=" ">
    <ion-content padding="false" style="background: url(img/fondobar1.png) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding" scroll="false">
        
<div class ="contenedor_inicio">
        <div class="contenedor_Imagen">
                <img class="Imagen" src="img/bourbon.png" width="90%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>

            <div class="contenedor_Derecho">
                <div class="contenedor_texto">
                <center><h4 class="Titulo">Nombre Del Bar</h4></center> 
                <center> <p class="Parrafo">Información del bar</p></center>
                </div>      
            </div>
            <div class ="contenedor_Abajo">
        <div id="menuRest-button-bar9" class=" button-bar ">
            <div id="btn1_menuR">
            <button id="menuRest-button43" style="font-style:italic;color:#FFFFFF;font-size:10px;" class=" button button-light  button-block button-clear icon ion-android-pin "> Ver Ubicación</button>
            </div>
            <div id="btn2_menuR">
            <button id="menuRest-button44" style="font-style:italic;color:#FFFFFF;font-size:10px;" class=" button button-light  button-block button-clear icon ion-android-time "> Notificar Promociones</button>
            </div>
        </div>
        <a ui-sref="menuBar" id="menuRest-button94" class=" button button-energized  button-block " style="color:black">Ver Más</a>
     </div>
     </div>
        

        <!-- Menu Header -->
        <div class="bar bar-header" >           
                    <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
                <a ui-sref="inicio" class="h1 title" id="header">JoyWK</a>
                </div>
        
        <ion-tabs  class = "tabs-icon-top" id="footertab"> 
        
         <ion-tab icon-off="ion-android-restaurant" icon-on="ion-android-restaurant" ui-sref = "restaurantes">
            <ion-nav-view name="restaurantes"></ion-nav-view>
        </ion-tab>

        <ion-tab icon-off="ion-wineglass" icon-on="ion-wineglass" ui-sref ="bar">
            <ion-nav-view name="bar"></ion-nav-view>
        </ion-tab>

        <ion-tab icon-off="ion-android-star" icon-on="ion-android-star" ui-sref ="eventos">
            <ion-nav-view name="inicio"></ion-nav-view>
        </ion-tab>
        </ion-tabs>

    </ion-content>
</ion-view>