<ion-view title="Eventos" hide-nav-bar="true" id="page9" class=" ">
    <ion-content padding="false" style="background: url(img/fondoeventos2.png) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding" scroll="false">
       
       
       <div class ="contenedor_inicio">
        <div class="contenedor_Imagen">
                <img class="Imagen" src="img/crepesW.jpg" width="90%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>

            <div class="contenedor_Derecho">
                <div class="contenedor_texto">
                <center><h4 class="Titulo">Crepes & Waffles</h4></center> 
                <center> <p class="Parrafo">Comida y Helados</p></center>
                <center> <p class="Parrafo">50% en helados si presentas el cupón</p></center>
                </div>      
            </div>
        <div class ="contenedor_Abajo">
       <a id="menuBar-button99" class=" button button-energized  button-block " style="color:#000000;">Obtener Cupón</a>
        </div>
     </div>

     <div class ="contenedor_inicio">
        <div class="contenedor_Imagen">
                <img class="Imagenrest" src="img/bourbon.png" width="90%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>

            <div class="contenedor_Derecho">
                <div class="contenedor_texto">
                <center><h4 class="Titulo">Bourbon ST</h4></center> 
                <center> <p class="Parrafo">Comida y Cerveza</p></center>
                </div>      
            </div>
            <div class ="contenedor_Abajo">
        <a id="menuBar-button99" class=" button button-energized  button-block " style="color:#000000;">Más Información</a>
        </div>
     </div>


        <!-- Menu Header -->
        <div class="bar bar-header" >           
                    <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
                <a ui-sref="inicio" class="h1 title" id="header">JoyWK</a>
                </div>
        
        <ion-tabs  class = "tabs-icon-top" id="footertab"> 
        
         <ion-tab icon-off="ion-android-restaurant" icon-on="ion-android-restaurant" ui-sref = "restaurantes">
            <ion-nav-view name="restaurantes"></ion-nav-view>
        </ion-tab>

        <ion-tab icon-off="ion-wineglass" icon-on="ion-wineglass" ui-sref ="bar">
            <ion-nav-view name="bar"></ion-nav-view>
        </ion-tab>

        <ion-tab icon-off="ion-android-star" icon-on="ion-android-star" ui-sref ="eventos">
            <ion-nav-view name="inicio"></ion-nav-view>
        </ion-tab>
        </ion-tabs>
        
    </ion-content>
</ion-view>