<ion-view title="MenuBar" hide-nav-bar="true" id="page16" class=" ">
    <ion-content padding="false" style="background: url(img/aXKQcOVSqWzKmU4rMd48_menuBar.png) no-repeat center;background-size:cover;" class=" manual-remove-top-padding">
        <div id="menuBar-button-bar25" class=" button-bar ">
            <a ui-sref="inicio" id="menuBar-button95" class=" button button-positive  button-block button-clear "></a>
            <a ui-sref="perfil" id="menuBar-button96" style="color:#FFFFFF;" class=" button button-positive  button-block button-clear icon-right ion-android-menu "></a>
        </div>
        <div class="spacer" style="width: 300px; height: 40px;"></div>
        <div class="">
            <img src="img/2nC3PjRCQTOIpNpNLGFu_minifondo.png" width="90%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div id="menuBar-button-bar26" class=" button-bar ">
            <button id="menuBar-button97" style="font-style:italic;color:#FFFFFF;font-size:10px;" class=" button button-light  button-block button-clear icon ion-android-cart ">Incluir en la Reserva</button>
            <button id="menuBar-button98" style="font-style:italic;color:#FFFFFF;font-size:10px;" class=" button button-light  button-block button-clear icon ion-ios-telephone ">Domicilios</button>
        </div>
        <a ui-sref="reservaBar" id="menuBar-button99" class=" button button-positive  button-block ">IR A RESERVAS</a>
        <div class="spacer" style="width: 320px; height: 118px;"></div>
        <div id="menuBar-button-bar27" class=" button-bar ">
            <a ui-sref="restaurantes" id="menuBar-button100" style="color:#FFFFFF;" class=" button button-light  button-block button-clear icon ion-android-restaurant "></a>
            <a ui-sref="bar" id="menuBar-button101" style="color:#FFFFFF;" class=" button button-light  button-block button-clear icon ion-wineglass "></a>
            <a ui-sref="eventos" id="menuBar-button102" style="color:#FFFFFF;" class=" button button-light  button-block button-clear icon ion-android-star "></a>
        </div>
    </ion-content>
</ion-view>