<ion-view title="Inicio" hide-nav-bar="true" id="page4" class=" ">
    <ion-content padding="false" style="background: url(img/fondoiniciojwk.png) no-repeat center;background-size:cover;" class=" manual-remove-top-padding" scroll="false">

        
    

            <div class="card">
            <div class="item item-avatar">
            <img src="img/alitas.png">
            <h2>Nombre de Usuario</h2>
            <p>Descripcion del perfil</p>
            <p>Descripcion del perfil</p>
            <button id="menuBar-button97" style="font-style:italic;color:#000000;font-size:10px;" class=" button button-light  button-block button-clear icon ion-edit ">Editar Perfil</button>
            </div>
            </div>
            <div class="descripcion_card">
                <div class="contenedor_Imagen_perfil">
                <img class="Imagenrest" src="img/petronio.jpg" width="90%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
                </div>
                <div>
                    <p class="texto_perfil">Esta es mi primer publicación</p>
                </div>
            </div>


        <!-- Menu Header -->
        <div class="bar bar-header" >           
                    <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
                <a ui-sref="inicio" class="h1 title" id="header">JoyWK</a>
                </div>
        
        <ion-tabs  class = "tabs-icon-top" id="footertab"> 
        
         <ion-tab icon-off="ion-android-restaurant" icon-on="ion-android-restaurant" ui-sref = "restaurantes">
            <ion-nav-view name="restaurantes"></ion-nav-view>
        </ion-tab>

        <ion-tab icon-off="ion-wineglass" icon-on="ion-wineglass" ui-sref ="bar">
            <ion-nav-view name="bar"></ion-nav-view>
        </ion-tab>

        <ion-tab icon-off="ion-android-star" icon-on="ion-android-star" ui-sref ="eventos">
            <ion-nav-view name="inicio"></ion-nav-view>
        </ion-tab>
        </ion-tabs>
    </ion-content>
</ion-view>