<ion-view title="Registro" hide-nav-bar="true" id="page3" class=" ">
    <ion-content padding="false" style="background: url(img/ABLwQKwcSCGmVBirKqnk_fondojw2.png) no-repeat center;background-size:cover;" class=" manual-remove-top-padding" scroll="false">
        <div class="spacer" style="width: 300px; height: 189px;"></div>
        <form id="registro-form16" class="list ">
            <label class="item item-input " id="registro-input16" name="txtcorreo">
                <input type="email" placeholder="Correo Electrónico">
            </label>
            <div class="spacer" style="width: 300px; height: 4px;"></div>
            <label class="item item-input " id="registro-input17" name="txtnombre2">
                <input type="text" placeholder="Nombre y Apellido">
            </label>
            <div class="spacer" style="width: 300px; height: 4px;"></div>
            <label class="item item-input " id="registro-input18" name="txtalias">
                <input type="text" placeholder="Nombre de Usuario">
            </label>
            <div class="spacer" style="width: 300px; height: 4px;"></div>
            <label class="item item-input " id="registro-input19" name="txclave2">
                <input type="password" placeholder="Contraseña">
            </label>
        </form>
        <a ui-sref="inicio" id="registro-button3" style="color:#000000;" class=" button button-energized  button-block ">REGISTARSE</a>
        <a href="#" onclick="window.open('http://www.facebook.com/', '_system', 'location=yes'); return false;" id="registro-button5" style="color:#000000;" class=" button button-energized  button-block icon ion-social-facebook ">INICIAR CON FACEBOOK</a>
    </ion-content>
</ion-view>