<ion-view title="ReservaRes" hide-nav-bar="true" id="page6" class=" ">
    <ion-content padding="false" style="background: url(img/fonresReserva.png) no-repeat center;background-size:cover;" class=" manual-remove-top-padding" scroll="false">

        
          <div class ="contenedor_inicio_res">
        <div class="contenedor_Imagen_res">
            <img id="image_reser"src="img/XpVxgG6NRVicDsNHlPOe_creps.png" width="50%" height="auto" style="display: block; margin-left: 20%; margin-right: auto;">
        </div>
          <div class="contenedor_Derecho_res">
            
               <center><h4 class="Titulo">CREPES &amp; WAFFLES</h4></center> 
                <center> <p class="Parrafo">Tipo De Reserva</p></center>
            </div>
     
        
        <div class="contenedor_Abajo_res">

        <form id="reservaRes-form21" class="list ">
            <ion-checkbox name="checkcumple">Cumpleaños</ion-checkbox>
            <ion-checkbox name="checkAni">Aniversario</ion-checkbox>
            <label class="item item-input " id="reservaRes-input22" name="txtOtro">
                <input type="text" placeholder="Otro">
            </label>
            <label class="item item-input " id="reservaRes-input23" name="txtfecha">
                <input type="text" placeholder="Fecha">
            </label>
            <label class="item item-input " id="reservaRes-input24" name="txtperson">
                <input type="text" placeholder="Número de Personas">
            </label>
            <div class="contenedor_btn"></div>
          <a href="" id="reservaRes-button10" style="color:#000000;" class=" button button-energized  button-block ">RESERVAR</a>
        </form>
          </div>

      </div>



        <!-- Menu Header -->
        <div class="bar bar-header" >
  
            <div class="h1 title" id="header">JoyWK</div>
            <button class="button button-icon icon ion-navicon" ui-sref = "inicio"></button>
        </div>
        
        <ion-tabs  class = "tabs-icon-top" id="footertab"> 
        
         <ion-tab icon-off="ion-android-restaurant" icon-on="ion-android-restaurant" ui-sref = "restaurantes">
            <ion-nav-view name="restaurantes"></ion-nav-view>
        </ion-tab>

        <ion-tab icon-off="ion-wineglass" icon-on="ion-wineglass" ui-sref ="bar">
            <ion-nav-view name="bar"></ion-nav-view>
        </ion-tab>

        <ion-tab icon-off="ion-android-star" icon-on="ion-android-star" ui-sref ="eventos">
            <ion-nav-view name="inicio"></ion-nav-view>
        </ion-tab>
        </ion-tabs>
        
    </ion-content>
</ion-view>