
<ion-view title="Restaurantes" hide-nav-bar="true" id="page5" class=" ">
    <ion-content padding="false" style="background: url(img/fondoRetaurante.png) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding" scroll="false">


        <div class ="contenedor_inicio">
         
            <div class="contenedor_botoncitos1">
            <a id="boton_comida_Izq" class=" button button-energized  button-block " style="color:#000000;">Árabe</a>
            <a id="boton_comida_Izq" class=" button button-energized  button-block " style="color:#000000;">China</a>
            <a id="boton_comida_Izq" class=" button button-energized  button-block " style="color:#000000;">Méxicana</a>
         </div>
         <div class="contenedor_botoncitos2">
            <a id="boton_comida_Der" class=" button button-energized  button-block " style="color:#000000;">Italiana</a>
            <a id="boton_comida_Der" class=" button button-energized  button-block" style="color:#000000;">Francesa</a>
            <a id="boton_comida_Der" class=" button button-energized  button-block" style="color:#000000;">Americana</a>

         </div>
     </div>
      

        <!-- Menu Header -->
        <div class="bar bar-header" >           
                    <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
                <a ui-sref="inicio" class="h1 title" id="header">JoyWK</a>
                </div>
        <ion-tabs  class = "tabs-icon-top" id="footertab"> 
        
         <ion-tab icon-off="ion-android-restaurant" icon-on="ion-android-restaurant" ui-sref = "restaurantes">
            <ion-nav-view name="restaurantes"></ion-nav-view>
        </ion-tab>

        <ion-tab icon-off="ion-wineglass" icon-on="ion-wineglass" ui-sref ="bar">
            <ion-nav-view name="bar"></ion-nav-view>
        </ion-tab>

        <ion-tab icon-off="ion-android-star" icon-on="ion-android-star" ui-sref ="eventos">
            <ion-nav-view name="inicio"></ion-nav-view>
        </ion-tab>
        </ion-tabs>

    </ion-content>
</ion-view>


