
<ion-view title="Restaurantes" hide-nav-bar="true" id="page5" class=" ">
    <ion-content padding="false" style="background: url(img/fondoRetaurante.png) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding" scroll="false">


        <div class ="contenedor_inicio_res2">
            <P id="tex_sel_res">Selecciona el tipo de restaurante </P>
            <p id="tex_sel_res2">que mas te llame la atención</p>

         <div id="botones_res2">
            <a id="boton_comida_Izq" class=" button button-energized  button-block " style="color:#000000;" ui-sref="menuRest">Árabe</a>
            <a id="boton_comida_Izq" class=" button button-energized  button-block " style="color:#000000;" ui-sref="MenuRest">Chino</a>
            <a id="boton_comida_Izq" class=" button button-energized  button-block " style="color:#000000;" ui-sref="MenuRest">Méxicano</a>    
       </div>
     </div>
       

        <!-- Menu Header -->
        <div class="bar bar-header" >           
                <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
                <a ui-sref="inicio" class="h1 title" id="header">JoyWK</a>
                </div>
        <ion-tabs  class = "tabs-icon-top" id="footertab"> 
        
         <ion-tab icon-off="ion-android-restaurant" icon-on="ion-android-restaurant" ui-sref = "restaurantes">
            <ion-nav-view name="restaurantes"></ion-nav-view>
        </ion-tab>

        <ion-tab icon-off="ion-wineglass" icon-on="ion-wineglass" ui-sref ="bar">
            <ion-nav-view name="bar"></ion-nav-view>
        </ion-tab>

        <ion-tab icon-off="ion-android-star" icon-on="ion-android-star" ui-sref ="eventos">
            <ion-nav-view name="inicio"></ion-nav-view>
        </ion-tab>
        </ion-tabs>

    </ion-content>
</ion-view>




